<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="org.bigdata.mapper.AttachMapper">
    
    	<select id="getAttachCoatList" resultType="org.bigdata.domain.AttachImageVO">
    		select * from shopping_image where coatNumber = #{coatNumber}
    	</select>
    	
    	<select id="getAttachPantsList" resultType="org.bigdata.domain.AttachImageVO">
    		select * from shopping_image where pantsNumber = #{pantsNumber}
    	</select>
    	
    	<select id="getAttachShoesList" resultType="org.bigdata.domain.AttachImageVO">
    		select * from shopping_image where shoesNumber = #{shoesNumber}
    	</select>
    
    </mapper>